# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Environnement
.env

# Node / Angular
node_modules/
frontend/dist/
frontend/.angular/

# Docker / données locales
volumes/

# IDE / OS
.vscode/
.idea/
.DS_Store

